[core]
    repositoryformatversion = 0
    filemode = true
    bare = false
    logallrefupdates = true
[remote "all"]
    url = https://github.com/rohankapoor1/tornado_ERP.git
    url = ssh://5217ebd9500446d2c900004d@test-rohankapoor1.rhcloud.com/~/git/test.git/
[remote "origin"]
    fetch = +refs/heads/*:refs/remotes/origin/*
    url = https://github.com/rohankapoor1/tornado_ERP.git
[remote "openshift"]
    fetch = +refs/heads/*:refs/remotes/origin/*
    url = ssh://5217ebd9500446d2c900004d@test-rohankapoor1.rhcloud.com/~/git/test.git/
[branch "master"]
    remote = origin
    merge = refs/heads/master
